{% load static %}
<!-- PROJECTS SECTION -->
<section class="projects" id="projects">
    <div class="container projects-container">

        <div class="folder-wrapper" id="projects-folder">
            <!-- Back Folder -->
            <img src="{% static 'img/blank-folder.svg' %}" alt="Projects Folder Back" class="folder-back">

            <!-- Folder Content -->
            <div class="folder-content">
                <div class="project-cards-container">

                    <!-- Single Project Card -->
                    <div class="project-card">
                        <div class="project-card-header">
                            <div class="stars-left">
                                <img src="{% static 'img/projects-star.svg' %}" alt="*" class="star-large">
                                <img src="{% static 'img/projects-star.svg' %}" alt="*" class="star-small">
                            </div>
                            <h3 class="project-title">Title</h3>
                            <div class="stars-right">
                                <img src="{% static 'img/projects-star.svg' %}" alt="*" class="star-small">
                                <img src="{% static 'img/projects-star.svg' %}" alt="*" class="star-large">
                            </div>
                        </div>

                        <div class="project-card-body">
                            <div class="project-image-placeholder">
                                <!-- Image put here -->
                            </div>

                            <div class="project-info">
                                <h4 class="project-subtitle">About [Project Name]</h4>
                                <p class="project-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                                    feugiat gravida turpis, pharetra facilisis est elementum sed. Aenean eros dolor,
                                    vestibulum non posuere ac, euismod id nisi. Curabitur tristique finibus bibendum.
                                    Aenean tempor facilisis nunc, finibus ullamcorper ex ultricies quis.</p>

                                <h4 class="project-tech-title">Tech Stack</h4>
                                <ul class="project-tech-list">
                                    <li>Techstack 1</li>
                                    <li>Techstack 2</li>
                                    <li>Techstack 3</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Cover Folder -->
            <img src="{% static 'img/clickable-folder.svg' %}" alt="Clickable Projects Folder" class="folder-front">
        </div>

    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const folder = document.getElementById("projects-folder");
        if (folder) {
            folder.addEventListener("click", function () {
                this.classList.toggle("is-open");
            });
        }
    });
</script>